<div class="container">
  <h1>List of trips.</h1>

  <div class="chartdiv">
    <%= image_tag "chart.jpg" %>
  </div>
</div>

<!-- <% @trips.each do |t| %>
  <h2><%= link_to t.title, trip_path(t) %></h2>
<% end %> -->
