<h2>Driver's information</h2>

<h3><%= @driver.name %></h3>
<h3><%= @driver.location %></h3>

<%= link_to "Edit", edit_driver_path(@driver), class: "btn btn-info" %>
<%= link_to "Delete", driver_path(@driver), method: :delete,
            data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>